<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Painel de Importadores - Duvidas Frequentes</title>
</head>
<body>
    <header id="HeaderContainer">
        <figure class="HeaderContainer primary_logo">
            <img src="../assets/primary_logo.png" alt="Logo Principal">
        </figure>
        <h1 class="HeaderContainer primary_title">Painel de Consulta de Importadores - Dúvidas Frequentes</h1>
    </header>

    <a class="btn_return" href="../index.html">Retornar</a>

    <main>
            
            <section id="all_quests">
                <article class="all_quests content_quest">
                    <h2>Como Atualizar os Dados do meu Importador?</h2>
                    <p>Para atualizar os dados do importador o processo é relativamente simples, você precisa salvar seu arquivo do cliente por cima do arquivo Base dentro da pasta do seu Importador, feito isso, acesse o Importador e clique no botão "Atualizar Dados".</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Como Gerar meus arquivos para Importação?</h2>
                    <p>Para gerar seus arquivos você primeiro precisa atualizar os dados do seu importador, após se certificar que os dados foram atualizados com sucesso, clique no botão Gerar CSV, seus arquivos estarão dentro da pasta "Arquivos para Importação" prontos para serem importados, leve-os até seu G onde você deve criar uma pasta especialmente para isso. (Lembre de conferir antes de importar)</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Como Importar meus Arquivos?</h2>
                    <p>Para Importar os arquivos após conferi-los, Acesse o Dominio, selecione a empresa que deseja realizar a importação, clique na Guia Utilitários, Importação, Importador, Importar, no campo Conjunto de Dados selecione "Lançamentos em Lote arquivo CSV - PADRAO REAL (Lançamentos Arquivos CSV - PADRAO REAL), na caixa ao lado de "Caminho" localize seus arquivos para Importação e clique em Importar.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
            </section>
    </main>
</body>
</html>