<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Painel de Importadores - Duvidas Frequentes</title>
</head>
<body>
    <header id="HeaderContainer">
        <figure class="HeaderContainer primary_logo">
            <img src="../assets/primary_logo.png" alt="Logo Principal">
        </figure>
        <h1 class="HeaderContainer primary_title">Painel de Consulta de Importadores - Dúvidas Frequentes</h1>
    </header>

    <main>
            
            <section id="all_quests">
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
                <article class="all_quests content_quest">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, deserunt.</p>
                </article>
            </section>

            <footer id="footer_container">
                <section class="footer_info">
                    <h2 class="footer_info footer_text">Todos os Direitos Reservados - Real Assessoria Empresarial ©</h2>
                    <h3 class="footer_info footer_sub_text">Desensolvido pelo Departamento de Tecnologia da Informação - Real Assessoria Empresarial</h3>
                </section>
                <a class="btn_return" href="../index.html">Retornar</a>
            </footer>
            
    </main>
</body>
</html>