@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font_set: 'Roboto Mono', monospace;
    ;
}

select {
    text-align: center;
}

#HeaderContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
}

.primary_title {
    font-family: var(--font_set);
}

#MainContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin: 100px auto;
    margin-top: 10rem;

    width: 100vw;
    height: 10px;
}

.info_content_itens {
    text-align: center;
    font-family: var(--font_set);
    margin-left: 2%;
}

.info_content_itens select:hover {
    cursor: pointer;
}

.primary_text_title {
    display: flex;
    font-family: var(--font_set);
    font-size: 15px;
}

.primary_text_desc {
    display: flex;
    margin-top: 15px;
}

.primary_text_road {
    display: flex;
    font-family: var(--font_set);
    font-size: 15px;
}

.descReceb {
    display: flex;
    font-family: var(--font_set);
    font-size: 15px;
}

.descPgto {
    display: flex;
    font-family: var(--font_set);
    font-size: 15px;
}

#detail_itens {
    display: none;
    flex-direction: column;

    text-align: center;
    align-items: center;

    width: 50%;
    height: 400px;

    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;

    padding: 50px;
}

#detail_itens h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.primary_image {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.primary_image img {
    width: 900px;
}

.secondary_image {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.secondary_image img {
    width: 900px;
}

#footer_container {
    display: flex;
    margin-top: 41rem;
}

.footer_info {
    display: flex;
    flex-direction: column;
    font-family: var(--font_set);
    font-size: 13px;

    width: 100vw;
    margin-right: -3rem;
}

.footer_quest {
    display: flex;
    font-size: 15px;
}

.btn_return {
    display: flex;
    justify-content: flex-end;
    
    margin-top: -10rem;
    margin-left: 88%;
    
    font-size: 15px;
    padding: 5px;

    width: 135px;
}

#all_quests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem
}

.content_quest {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    background-color: #e4e4e4;

    width: 900px;
    height: 120px;

    border-radius: 9px;
}

.content_quest h2 {
    display: flex;
    font-size: 20px;
    margin-left: 5px;
    font-family: var(--font_set);
}

.content_quest p {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    font-family: var(--font_set);
    font-size: 13px;
    font-weight: 900;
}

.content_video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 600px;

    margin-top: 4rem;
}

.content_video iframe {
    padding: 1rem;
    width: 600px;
    height: 900px;
}